@import (less) "~normalize.css";
@import (less) "rich-text.less";
@import (less) "renee-menu.less";
@import (less) "mailchimp-form.css";

@colorBg: white;
@colorFg: #4D4D4D;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color: @colorFg;
  font-weight: 300;
}

body {
  background-color: @colorBg;
}

a {
  color: @colorFg;
  text-decoration: none;
}

a:not(.no-indication):not(.button):not(.renee-menu--entry) {
  .link-indication;
}

.link-indication {
  padding-right: 18px;
  background: url("../img/icon/pop-out.svg") no-repeat 100% 0;
  background-size: 0.9em;
  margin-right: -3px;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background-color: #377935;
  color: @colorBg;
  font-weight: bold;
}

b, strong {
  font-weight: bold;
}

.slide {
  min-height: 100vh;
}

#header {
  text-align: center;

  .logo {
    padding-top: 20vh;

    @media screen and (max-height: 700px) {
      padding-top: 15vh;
    }

    @media screen and (max-height: 600px) {
      padding-top: 10vh;
    }

    @media screen and (max-height: 500px) {
      padding-top: 2vh;
    }

    img {
      position: relative;
      z-index: 1;
      background: @colorBg;
      display: block;
      margin: 0 auto;
      text-transform: uppercase;
      height: 40vmin;
    }
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    p {
      line-height: 1.2em;
    }

    .title {
      padding: 0 30px 0 30px;
      margin: 0;
    }

    .link {
      padding: 0 20px 5px 20px;
      margin: 0;
    }

    .more {
      margin-top: 3vh;

      @media screen and (max-height: 400px) {
        margin-top: 0;
      }

      .skip-link {
        display: block;
        width: 7vmin;
        max-width: 35px;
        margin: 0 auto;

        .arrow-down {
          display: block;
          height: 35px;
        }
      }
    }
  }
}

.main {
  position: relative;
  padding: 30px 30px 70px;
  text-align: center;

  #intro {
    text-align: center;
    margin: 75px auto 120px auto;
    max-width: 700px;
  }

  #signup-form {
    h2 {
      display: none;
    }
  }

  #thankyou {
    img {
      // Overwrite 'width' and 'height' values set on CMS content
      width: 150px !important;
      height: auto !important;
      max-width: 30vw;

      margin: 0 10px;
      filter: grayscale(100%) opacity(60%);
      vertical-align: middle;
    }
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

#imprint {
  text-align: left;
  padding: 20px;

  .logo {
    margin: 30px auto 20px auto;
    height: 100px;
  }
}

#footer {
  width: 100%;
  padding: 9px;
  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;

  > * {
    width: 33.333%;
    position: relative;
    display: flex;
    align-items: flex-end;
    opacity: .5;
  }

  > .footer-left {
    text-align: left;
  }

  > .footer-center {
    text-align: center;
    opacity: .2;

    .connections {
      display: inline-block;
      margin: 0 auto;
      padding: 0;

      li {
        display: inline-block;
      }

      .connect-link {
        display: block;
        width: 32px;
        height: 32px;
        padding: 2px;
        margin: 2px;
        background: no-repeat center;

        &.facebook {
          background-image: url("../img/icon/connect-facebook.svg");
        }

        &.instagram {
          background-image: url("../img/icon/connect-instagram.svg");
        }
      }
    }
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}
