{% extends "html/layout.njk" %}

{% block body %}
  <header id="header" class="slide">
    {% include "html/renee-menu.njk" %}

    <div class="logo">
      <img src="./img/logo.jpg" alt="RENÉE">
    </div>

    <div class="info">
      <div class="title">{{ homepage.text_intro | safe }}</div>

      <div class="more">
        <a class="skip-link no-indication" href="#main"><img src="./img/icon/arrow-down.svg" class="arrow-down" alt="Scroll down"></a>
      </div>
    </div>
  </header>

  <div id="main" class="main slide">
    <div id="intro" class="rich-text">
      <div class="description rich-text">
        {{ homepage.text_main | safe }}
      </div>

      <div id="signup-form">
        {% include "html/mailchimp-form.html" %}
      </div>

      <div id="thankyou">
      {{ homepage.text_thankyou | safe }}
    </div>

    </div>

    {% include "html/footer.njk" %}
  </div>
{% endblock %}
